<% include ../partials/header%>


    <div class="container">

        <header class="jumbotron">
            <div class="container">


                <h2>All Blogs</h2>
                <p>
                    <a class="btn btn-primary btn-large" href="/blogs/new">Add New Blog</a>
                </p>
                <div class="container">


        </header>






  <% blogs.forEach(function(blog){  %>
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="<%= blog.blogImage %>" height="128px" width='128px'>
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><%= blog.blogTitle %></h4>
                    <p>By <%= blog.blogAuthor %></p>
                    <p><%= blog.blogCreatedAt %></p>
                    <div>
                        <a class="btn btn-default" href="/blogs/<%=blog._id%>">Show</a>
                    </div>

                </div>
            </div>
        </div>
              <% }) %>






        </div>

        <% include ../partials/footer%>
