
<% include ../partials/header%>


<div class="container">
      <div class="row">
        <div class="well">
            <div class="row">
          <div class="col-xs-12">
                <h3>
                    <%= productCategory.productCategoryName %>
                </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4">
              <h4>
                  Additional Fields:
              </h4>
          </div>
          <div class="col-xs-6 col-md-8">
            <h4>
              <%productCategory.productCategoryAdditionalFields.forEach(function(field){ %>

                    <span><%=field%> </span>
              <%})%>
            </h4>

          </div>

            </div>

        </div>
  </div>

  <div id="products">
  <input class="fuzzy-search form-control" placeholder="Search" />


  <ul class="row list list-group">
  <% productCategory.products.forEach(function(product){ %>

            <li class="list-group-item list-group-item col-xs-offset-1 col-xs-5">

              <a class="name " href="/productcategories/<%=productCategory._id%>/products/<%=product._id%>"><%= product.productTitle %></a>
          </li>


  <% }); %>
    </ul>
</div>

</div>

<script type="text/javascript">

//search, sort

$(document).ready(function(){
  var options = {
  valueNames: [ 'name'],
  plugins:[ListFuzzySearch()]
};

var productList = new List('products', options);
})

</script>




<% include ../partials/footer%>
