<% include ../partials/header%>


    <div class="container" id="products">

        <header class="jumbotron">
            <div class="container">


                <h1> Products home </h1>
                <p>
                  <form  action="/products/search/" method="GET">

                    <div class="form-group">
                          <input class=" form-control" placeholder="Search" name="key" />
                    </div>
                    <div class="form-group">

                            <button type="submit"  class="btn btn-primary" >Search</button>

                    </div>

                          <form>


                    <% if( typeof timeForSearch != "undefined") {%>

                      <% if( totalFound === 0) {%>

                        <div class="not-found" align="right">
                             <h6>No items found</h6>
                        </div>
                        <%}else{%>
                    <div class="time-for-search" align="right">
                         <h6>Found <%=totalFound %> items in  <%= timeForSearch %> ms</h6>

                    </div>

                    <%}%>
                    <%}%>





                </p>





        </header>






        <ul class="category-item-list">


            <% products.forEach(function(product){  %>


              <li class="category-item-list-item">
                <a class="invisible-link" href='/products/<%= product._id %>'>
                <div class="row">
                  <div class="col-xs-8">
                      <p class="category-item-list-name"><%= product.productTitle %>   </p>
                  </div>
                  <div class="col-xs-4">
                      <p class="category-item-list-name"><%= product.slug %>   </p>
                  </div>
                </div>
              </a>
                <li


                <% }) %>


        </ul>

        </div>

    </div>




    <% include ../partials/paginate%>


    <% include ../partials/footer%>
