
<% include ../partials/header%>



<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">

                                      <% product.productImages.forEach(function(image, key){ %>

                                        <div class="item" data-slide-number="<%=key%>">
                                        <img src="<%=image%>"></div>

                                       <% }) %>


                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div>
                                <div>
                                    <h2><%= product.productName %></h2>
                                    <h4>Cost: <%= product.productPrice %></h4>
                                    <p>more details goes here</p>
                                    <p > more details goes  here</p>
                                </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                          <% product.productImages.forEach(function(image, key){ %>

                            <li class="col-sm-2">
                                <a class="thumbnail item" id="carousel-selector-<%=key%>"><img src="<%=image%>"></a>
                            </li>

                           <% }) %>



                        </ul>
                </div>
        </div>
</div>
<div>
    <%- product.productAdditionalDescription %>
</div>

<% product.productCustomAttributes.forEach(function(attr) { %>

      <div><%= attr.attributeName%>:  <%= attr.attributeValue%> </div>
    <% }); %>

    <div class="pull-right">
      <a class="btn btn-default" href="/productcategories/<%=productCategoryId%>/products/<%=product._id%>/edit" name="button">Edit</a>
      <form class="" action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button class="btn btn-default" name="button">Delete</button>
      </form>
    </div>

</div>



<script type="text/javascript">

jQuery(document).ready(function($) {

      $('.carousel-inner').children().first().addClass('active');

      $('#myCarousel').carousel({
              pause: true,
              interval: false
      });

      $('#carousel-text').html($('#slide-content-0').html());

      //Handles the carousel thumbnails
     $('[id^=carousel-selector-]').click( function(){
          var id = this.id.substr(this.id.lastIndexOf("-") + 1);
          var id = parseInt(id);
          $('#myCarousel').carousel(id);
      });


      // When the carousel slides, auto update the text
      $('#myCarousel').on('slid.bs.carousel', function (e) {
               var id = $('.item.active').data('slide-number');
              $('#carousel-text').html($('#slide-content-'+id).html());
      });
});

</script>

<% include ../partials/footer%>
